* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d8d4b4;
    color: #333;
}

header {
    background-color: #222;
    color:floralwhite;
    text-align: center;
    padding: 30px;
}

header p {
    margin-top: 10px;
}

main {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
}

.autor {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
    border-left: 6px solid #000000;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.autor h2 {
    color: #000000;
    margin-bottom: 10px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
